# Binaries
*.exe
*.zip
ShadowLog.exe
Decryptor.exe
Uninstaller.exe
ShadowLog_Release.zip

# IDEs
.vscode/
.idea/

# Go
vendor/
*.log

# Discord Bot Secrets
discord_bot/.env
discord_bot/bot_config.json
discord_bot/__pycache__/
